.App {
  text-align: center;
  background-color: transparent;
  font-family: "Playfair Display", serif;
  max-width: 1000px;
  margin: 50px auto;
  border-radius: 6px;
  margin-top: 4px;
}

body {
  background-image: url("https://images.pexels.com/photos/1926988/pexels-photo-1926988.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
}

.App-header {
  margin: 0;
}

.App footer {
  font-size: 12px;
  font-family: monospace;
  color: #222f44;
  margin-top: 20px;
  background-color: #efe0d5;
  border-radius: 6px;
}

.App footer a {
  color: #222f44;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}
