section {
  box-shadow: rgba(250, 246, 246, 0.1) 0px 10px 10px;
  background-color: #222f44;
  color: #efe0d5;
  border-radius: 7px;
  margin: 20px 0;
  padding: 30px;
  text-align: center;
}

.Meaning h3 {
  color: #efe0d5;
  text-align: left;
  margin-left: 10px;
  font-weight: bold;
}

.definition {
  font-size: 20px;
  text-align: left;
  margin-bottom: 5px;
}

.example {
  font-style: italic;
  font-size: 19px;
  word-spacing: normal;
  color: #814256;
}
