section {
  box-shadow: rgba(250, 246, 246, 0.1) 0px 10px 10px;
  background-color: #222f44;
  color: #efe0d5;
  border-radius: 7px;
  margin: 20px 0;
  padding: 30px;
  text-align: center;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
}
.Text {
  opacity: 0.8;
  font-weight: bold;
  margin: 15px;
  font-size: 20px;
  color: #efe0d5;
}

.Phonetics {
  display: flex;
  justify-content: flex-start;
}
.Audio {
  color: #814256;
}

svg {
  margin-top: 25px;
}
